<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Air pollutants concentration prediction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/present.css">
</head>
<script type="text/javascript" src="/js/echarts.js"></script>
<body>
<p class="para_style" th:text="'这里是' + ${city} + '!'" />
<div>
    <table>
        <thead>
        <tr>
            <th>日期</th>
            <th>PM2.5</th>
            <th>PM10</th>
            <th>SO2</th>
            <th>CO</th>
            <th>NO2</th>
            <th>O3</th>
            <th>Air Quality Level</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${res}">
            <td th:text="${record.predDate}"></td>
            <td th:text="${record.pm25}"></td>
            <td th:text="${record.pm10}"></td>
            <td th:text="${record.so2}"></td>
            <td th:text="${record.co}"></td>
            <td th:text="${record.no2}"></td>
            <td th:text="${record.o3}"></td>
            <td th:text="${record.aqLevel}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!--<div id="main" style="width: 700px;height:400px;"></div>
<div id="two" style="width: 700px;height:400px;"></div>
<div id="three" style="width: 700px;height:400px;"></div>
<div id="four" style="width: 700px;height:400px;"></div>
<div id="five" style="width: 700px;height:400px;"></div>
<div id="six" style="width: 700px;height:400px;"></div>
<div id="seven" style="width: 700px;height:400px;"></div>-->
<div id="main" class="curve"></div>
<div id="two" class="curve"></div>
<div id="three" class="curve"></div>
<div id="four" class="curve"></div>
<div id="five" class="curve"></div>
<div id="six" class="curve"></div>
<div id="seven" class="curve"></div>

<script th:inline="javascript">
    //基于服务端返回的响应数据，准备绘图所需数据
    var resList = [[${res}]];
    var dateList = [];
    var pm25List = [];
    var pm10List = [];
    var so2List = [];
    var coList = [];
    var no2List = [];
    var o3List = [];
    var aqList = [];
    resList.forEach(item => {dateList.push(item.predDate)});
    resList.forEach(item => {pm25List.push(item.pm25)});
    resList.forEach(item => {pm10List.push(item.pm10)});
    resList.forEach(item => {so2List.push(item.so2)});
    resList.forEach(item => {coList.push(item.co)});
    resList.forEach(item => {no2List.push(item.no2)});
    resList.forEach(item => {o3List.push(item.o3)});
    resList.forEach(item => {aqList.push(item.aqLevel)});

    var draw = function(containerId, dataList, legend, xLegend, titleText) {
        //基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById(containerId));
        var yAxisFormatter = '{value} ug/m3'
        if (legend == 'co') yAxisFormatter = '{value} mg/m3'

        //指定图表的配置项和数据
        var option = {
            title: {
                text: titleText,
                left: 'center'
            },
            tooltip: {},
            legend: {
                data: [legend],
                show: false
            },
            xAxis: {
                data: xLegend
            },
            yAxis: {
                axisLabel: {
                    formatter: yAxisFormatter
                }
            },
            series: [
                {
                    name: legend,
                    type: 'line',
                    smooth: true,
                    data: dataList
                }
            ]
        };

        //使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

    draw("main", pm25List, "pm2.5", dateList, "空气污染物浓度预测--PM2.5");
    draw("two", pm10List, "pm10", dateList, "空气污染物浓度预测--PM10");
    draw("three", so2List, "so2", dateList, "空气污染物浓度预测--SO2");
    draw("four", coList, "co", dateList, "空气污染物浓度预测--CO");
    draw("five", no2List, "no2", dateList, "空气污染物浓度预测--NO2");
    draw("six", o3List, "o3", dateList, "空气污染物浓度预测--O3");
    draw("seven", aqList, "AQLevel", dateList, "空气质量等级");
</script>
</body>
</html>