<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Air pollutants concentration prediction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/present.css">
</head>
<body>
<p class="para_style" th:text="'这里是' + ${city} + '!'" />
<div>
    <table>
        <thead>
        <tr>
            <th>日期</th>
            <th>PM2.5</th>
            <th>PM10</th>
            <th>SO2</th>
            <th>CO</th>
            <th>NO2</th>
            <th>O3</th>
            <th>Air Quality Level</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${res.predDate}"></td>
            <td th:text="${res.pm25}"></td>
            <td th:text="${res.pm10}"></td>
            <td th:text="${res.so2}"></td>
            <td th:text="${res.co}"></td>
            <td th:text="${res.no2}"></td>
            <td th:text="${res.o3}"></td>
            <td th:text="${res.aqLevel}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>