<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ECharts</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script type="text/javascript" src="/js/echarts.js"></script>
</head>
<body>
<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>
<div id="two" style="width: 600px;height:400px;"></div>
<div id="three" style="width: 600px;height:400px;"></div>
<div id="four" style="width: 600px;height:400px;"></div>
<div id="five" style="width: 600px;height:400px;"></div>
<div id="six" style="width: 600px;height:400px;"></div>

<script th:inline="javascript">
    var dataList = [[${list}]];
    console.log(dataList);

    var draw = function(containerId, dataList, legend) {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById(containerId));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data: [legend]
            },
            xAxis: {
                data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
            },
            yAxis: {},
            series: [
                {
                    name: legend,
                    type: 'line',
                    data: dataList
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

    draw("main", dataList, "销量");
    draw("two", dataList, "第二组销量");
    draw("three", dataList, "第三组销量");
    draw("four", dataList, "第四组销量");
    draw("five", dataList, "第五组销量");
    draw("six", dataList, "第六组销量");
</script>
</body>
</html>